{% extends 'AppBundle:Admin:index.html.twig' %}

 {% block mainAdminContent %}

     <div style="position: fixed; top: 0px; right: 0em; width: 100%; z-index: 999; padding: 0px; height: 0.5em;" class="">
         <div class="progress progress-striped active" style="height:0.5em">
             <div style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-striped active"></div>
         </div>
     </div>

     <div class="page-title" xmlns="http://www.w3.org/1999/html">
         <h3>{{ "Создать группу тизеров" | trans }}</h3>
     </div>

     <div class="row">
         <div class="col-md-12">
             <div class="grid simple">

                 <div class="grid-body no-border"> <br>
                     <div class="row">

                         {{ form_start(form) }}
                         {{ form_errors(form, {'attr' : {'class': 'alert alert-danger'}}) }}

                         <div class="form-group">
                             <label for="appbundle_teasers_groups">{{ 'Имя' | trans }}</label>
                             <input type="text" class="form-control" name="appbundle_teasers_name" id="appbundle_teasers_name" />
                         </div>

                         <div class="form-group">
                             {{ form_label(form.rubrics) }}
                             {{ form_errors(form.rubrics) }}
                             {{ form_widget(form.rubrics) }}
                         </div>

                         <div class="form-group" style="position:relative">
                             {{ form_label(form.title) }}
                             {{ form_errors(form.title) }}
                             {{ form_widget(form.title) }}
                         </div>

                         <div class="form-group">
                             {{ form_label(form.link) }}
                             {{ form_errors(form.link) }}
                             {{ form_widget(form.link) }}
                         </div>


                         <button class="btn btn-success btn-lg" id="saveTeasersButton">Save</button>

                         {{ form_end(form) }}

                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/app/js/fileupload/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/fileupload/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/fileupload/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/textarea.js') }}"></script>
    <script type="text/javascript">

        var delete_file = "{{ path('delete_files') }}";

        $(document).ready(function() {


            $('#appbundle_teasers_title').before('<div class="line-nums"><span>1</span></div>');
            $('#appbundle_teasers_title').parent()
                    .before('<div class="form-group"><input type="file" name="pictures[]" multiple class="btn btn-success btn-cons uploadImages"/><div id="img_previews" class="col-lg-12"></div><div class="form-group"><div class="clearfix"></div>');

            $('.uploadImages').fileupload({
                dataType: 'json',
                autoUpload: true,
                url: '{{ path('upload_files') }}',
                progress: function (e, data) {
                    var all = $('.uploadImages').fileupload('progress');
                    var progress = all.loaded / all.total * 100;
                    //console.log(Math.round(progress));
                    $('.progress-bar').animate({
                        'width' : progress + "%"
                    }, 50);
                },
                done: function (e, data) {
                    $('#img_previews').append(data.result.thumb);
                }
            });

            $(document).on('click', '.removePreview', function() {
                if ( confirm('Remove image?') ) {

                    $.post(delete_file, {name: $(this).data('remove')}, function(r){
                        console.log(r.msg);
                    }, 'json');
                    $(this).parent().remove();
                }
            });

            $(document).on('click', '#saveTeasersButton', function(e){
                e.preventDefault();

                var data = {};
                data['rubrics'] = $('form[name="appbundle_teasers"]').find('#appbundle_teasers_rubrics').val();
                data['name'] = $('form[name="appbundle_teasers"]').find('#appbundle_teasers_name').val();

                data['images'] = [];
                $('input[name="teaser_image[]"]').each(function(){
                    data['images'].push($(this).val());
                });

                data['titles'] = [];
                var titles = $('#appbundle_teasers_title').val();
                titles = titles.split('\n');
                titles.forEach(function(v){
                    data['titles'].push(v);
                });

                data['links'] = [];
                var links = $('#appbundle_teasers_link').val();
                links = links.split('\n');
                links.forEach(function(v){
                    data['links'].push(v);
                });

                // check if number of pictures equals to number of titles and links.
                var l = data['images'].length;
                if ( titles.length != l || links.length != l ) {
                    alert('All fields should be same size!');
                } else {
                    var $btn = $(this).button('loading');
                    $.post("{{ path('save-teasers-path') }}", {data:data}, function(r){
                        $btn.button('reset');
                        window.location.replace("{{ path('teasers') }}");
                    }, 'json');
                }
            });


            /*
             * This hook adds autosizing functionality
             * to your textarea
             */
            BehaveHooks.add(['keydown'], function(data){
                var numLines = data.lines.total,
                        fontSize = parseInt( getComputedStyle(data.editor.element)['font-size'] ),
                        padding = parseInt( getComputedStyle(data.editor.element)['padding'] );
                data.editor.element.style.height = (((numLines*fontSize)+padding))+'px';
            });

            /*
             * This hook adds Line Number Functionality
             */
            BehaveHooks.add(['keydown'], function(data){
                var numLines = data.lines.total,
                        house = document.getElementsByClassName('line-nums')[0],
                        html = '',
                        i;
                for(i=0; i<numLines; i++){
                    html += '<div>'+(i+1)+'</div>';
                }
                house.innerHTML = html;
            });

            var editor = new Behave({

                textarea: 		document.getElementById('appbundle_teasers_title'),
                replaceTab: 	true,
                softTabs: 		true,
                tabSize: 		4,
                autoOpen: 		true,
                overwrite: 		true,
                autoStrip: 		true,
                autoIndent: 	true
            });

        });
    </script>
{% endblock %}
