{% extends 'AppBundle:Admin:index.html.twig' %}

 {% block mainAdminContent %}
     <div class="page-title" xmlns="http://www.w3.org/1999/html">
         <h3>{{ "Teasers" | trans }}</h3>
     </div>

     <div class="row">
         <div class="col-md-12">
             <div class="grid simple">

                 <div class="grid-body no-border"> <br>
                     <div class="row">

                             <table class="table">
                                 <thead>
                                     <tr>
                                         <th>Group</th>
                                         <th>Actions</th>
                                         <th>Rubric</th>
                                         <th>Clicks</th>
                                         <th>Views</th>
                                         <th>CTR</th>
                                     </tr>
                                 </thead>
                             {% for group in groups %}
                                      <tr>
                                         <td>{{ group.title }}</td>
                                         <td>
                                             <div class="">
                                                 {#<button title="редактировать" class="btn btn-mini btn-primary disabled"><i class="fa fa-pencil"></i></button>#}
                                                 <a href="{{ path('group-on-off', {id: group.id}) }}" title="{% if group.visible %}ON. Click to turn OFF{% else %}OFF. Click to turn ON{% endif %}" class="btn btn-mini {% if group.visible %}btn-primary{% else %}btn-danger{% endif %}">
                                                     <i class="fa {% if group.visible %}fa-eye{% else %}fa-eye-slash{% endif %}"></i>
                                                 </a>
                                                 <button data-group="{{ group.id }}" title="show teasers" class="btn btn-mini btn-success pull-right showTeasers"><i class="fa fa-arrow-down"></i></button>
                                             </div>
                                         </td>
                                         <td>{{ group.rubrics.name }}</td>
                                         <td><span class="total_clicks_{{ group.id }}">0</span></td>
                                         <td><span class="total_views_{{ group.id }}">-</span></td>
                                         <td><span class="total_ctr_{{ group.id }}">0</span>%</td>
                                     </tr>

                                     {% if teasers[group.id] is defined %}
                                         <tr id="teasers_{{ group.id }}" style="display: none">
                                             <td colspan="6" class="text-yellow">
                                                  <table id="datatable_{{ group.id }}" class="table groupStatistics" data-group="{{ group.id }}">
                                                      <thead>
                                                         <tr>
                                                             <th>Image</th>
                                                             <th>Title</th>
                                                             <th>Link</th>
                                                             <th>Clicks</th>
                                                             <th>Views</th>
                                                             <th>CTR</th>
                                                         </tr>
                                                     </thead>
                                                     {% for teaser in teasers[group.id] %}
                                                         <tr class="{% if teaser.visible %}bg-yellow{% else %}bg-red{% endif %} teaserModal" style="cursor: pointer;" data-id="{{ teaser.id }}">
                                                            <td class="text-white">
                                                                <img src="{{ asset('uploads/teasers/'~app.user.id~'/'~teaser.image) | imagine_filter('thumb_50_50') }}" />
                                                            </td>
                                                            <td class="text-white title">{{ teaser.title }}</td>
                                                            <td class="text-white link">{{ teaser.link }}</td>

                                                             {% set views = 0 %}
                                                             {% set clicks = 0 %}
                                                             {% for stat in teaser.stats %}
                                                                 {% set views = views + stat.views %}
                                                                 {% set clicks = clicks + stat.clicks %}
                                                             {% endfor %}
                                                            <td class="text-white clicks_{{ group.id }}">{{ clicks }}</td>
                                                            <td class="text-white views_{{ group.id }}">{{ views }}</td>
                                                             <td class="text-white ctr_{{ group.id }}">{% if views > 0 %}{{ (clicks / views * 100) | round(2, 'ceil') }}{% else %}0{% endif %}%</td>
                                                         </tr>
                                                     {% endfor %}
                                                 </table>
                                             </td>
                                         </tr>
                                     {% endif %}

                             {% endfor %}
                             </table>

                         <div class="clearfix clear"></div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/app/plugins/jquery-datatable/css/jquery.dataTables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/bundles/app/plugins/jquery-datatable/css/jquery.dataTables_themeroller.css') }}">

{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/app/plugins/jquery-datatable/js/jquery.dataTables.min.js') }}"></script>
    {#<script src="{{ asset('/bundles/app/js/fileupload/jquery.iframe-transport.js') }}"></script>#}
    {#<script src="{{ asset('/bundles/app/js/fileupload/jquery.fileupload.js') }}"></script>#}
    {#<script src="{{ asset('/bundles/app/js/textarea.js') }}"></script>#}
    {#<script src="{{ asset('/bundles/app/js/tabs_accordian.js') }}"></script>#}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.panel-group').collapse({
                toggle: false
            });


            $('.showTeasers').click(function(){
                var id = $(this).data('group');

                $('tr#teasers_'+id).toggle();

            });


            $('table.groupStatistics').each(function(){
                var total_views = 0;
                var total_clicks = 0;
                var id = $(this).data('group');

                $(this).find('td.views_'+id).each(function(){
                    total_views += parseInt($(this).text());
                });

                $(this).find('td.clicks_'+id).each(function(){
                    total_clicks += parseInt($(this).text());
                });

                var total_ctr = total_views > 0 ? (total_clicks / total_views * 100).toFixed(2) : 0;
                $('.total_ctr_'+id).text( total_ctr );
                $('.total_views_'+id).text(total_views);
                $('.total_clicks_'+id).text(total_clicks);

                $('table#datatable_'+id).dataTable({
                    "bPaginate": false,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": false,
                    "bAutoWidth": true,
                    "aaSorting": [[ 5, "desc" ]],
                    "bSearch": false
                });
            });

            var getTeaserSingleFormPath = "{{ path('admin_get_teaser_form', {id: 0}) }}";
            $('tr.teaserModal').click(function(){
                $('.updateSingleTeaser').off('click');
                var myModal = $('#myAlert');
                var teaserId = $(this).data('id');

                var url = getTeaserSingleFormPath.replace(/0/g, teaserId);
                $.post(url, function(r){
                    if (r.success ) {
                        myModal.find('.myModalBody').html(r.form);
                        myModal.modal('show');

                        $('.updateSingleTeaser').on('click', function(e){
                            var form = $(this).closest('form');

                            $.post(form.attr('action'), form.serialize(), function(r){
                                if (r.success ) {

                                    var tr = $('tr[data-id='+teaserId+']');

                                    if ( r.visible ) {
                                        tr.removeClass('bg-red').addClass('bg-yellow');
                                    } else {
                                        tr.removeClass('bg-yellow').addClass('bg-red');
                                    }

                                    tr.find('.title').text(r.title);
                                    tr.find('.link').text(r.link);

                                    myModal.find('.myModalBody').empty();
                                    myModal.modal('hide');
                                }
                            });

                        });

                    }
                });
            });



        });
    </script>
{% endblock %}
