{% extends 'AppBundle:Admin:index.html.twig' %}

 {% block mainAdminContent %}
     <div class="page-title" xmlns="http://www.w3.org/1999/html">
         <h3>{{ "Teasers" | trans }}</h3>
     </div>

     <div class="row">
         <div class="col-md-12">
             <div class="grid simple">

                 <div class="grid-body no-border"> <br>
                     <div class="row">

                             <table class="table table-bordered">
                                 <thead>
                                     <tr>
                                         <th>Группы</th>
                                         <th>Ссылки</th>
                                         <th>Рубрика</th>
                                         <th>CTR</th>
                                         <th>Показов</th>
                                     </tr>
                                 </thead>
                             {% for group in groups %}

                                 {#{{ dump(group) }}#}

                                     <tr class="bg-green" style="color:#fff;">
                                         <td colspan="5"><h4>{{ group.group_name }}</h4></td>
                                     </tr>

                                     <tr>
                                         <td>
                                             <div data-toggle="buttons-radio" class="btn-group btn-group-sm">
                                                 <button title="редактировать" class="btn btn-primary disabled"><i class="fa fa-pencil"></i></button>
                                                 <button title="показать/скрыть" class="btn btn-warning disabled">
                                                     <i class="fa fa-eye"></i>
                                                     {% if group['teasers'] is defined %}
                                                         {{ group['teasers'] | length }}
                                                     {% endif %}
                                                 </button>
                                             </div>
                                         </td>
                                         <td>
                                             {% if group.links is defined %}
                                                 {% for link in group.links %}
                                                    <span title="{{ link }}">{{ link }}</span><br>
                                                 {% endfor %}
                                             {% endif %}
                                         </td>
                                         <td>{{ group.rubric_name }}</td>
                                         <td>30%</td>
                                         <td>142</td>
                                     </tr>
                                     <tr class="">
                                         <td colspan="5"></td>
                                     </tr>
                             {% endfor %}
                             </table>

                         <div class="clearfix clear"></div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('/bundles/app/js/fileupload/jquery.ui.widget.js') }}"></script>#}
    {#<script src="{{ asset('/bundles/app/js/fileupload/jquery.iframe-transport.js') }}"></script>#}
    {#<script src="{{ asset('/bundles/app/js/fileupload/jquery.fileupload.js') }}"></script>#}
    {#<script src="{{ asset('/bundles/app/js/textarea.js') }}"></script>#}
    {#<script src="{{ asset('/bundles/app/js/tabs_accordian.js') }}"></script>#}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.panel-group').collapse({
                toggle: false
            })
        });
    </script>
{% endblock %}
