<div style="
        padding:{% if padding is defined %}{{ padding }}{% else %}0{% endif %}px;
        position: relative;
        background: {% if background is defined %}{{ background }}{% else %}#ffffff{% endif %};
        text-align:right;
        {% if pictureSize is defined %}
            {% if settings is defined and settings.cols == 1 %}
                    width:100%;
            {% else %}
                    width: {{ pictureSize * 2 }}px;
            {% endif %}
        {% else %}
            width: 400px;
        {% endif %}
        float: left;
        cursor:pointer;
        " {% if teaser is defined and teaser.link is not null %}
            onclick="document.openTzrsWindow('{{ url('redirect_to_url', {place: pid,rubric:rid,block_settings:settings.id, teaser:teaser.id}) }}')"
        {% endif %}
        >

    {% if teaser is defined and teaser.image is not null %}
        {% set imageUrl = domain ~ asset('uploads/teasers/'~teaser.user.id~'/'~teaser.image) %}
    {% else %}
        {% set imageUrl = asset('bundles/app/img/teaserExample.jpg') %}
    {% endif %}
    <img src="{{ imageUrl }}" style="
            width:{% if pictureSize is defined %}{{ pictureSize }}{% else %}200{% endif %}px;
            height:{% if pictureSize is defined %}{{ pictureSize }}{% else %}200{% endif %}px;
            border-radius:{% if pictureBorderRadius is defined %}{{ pictureBorderRadius }}{% else %}0{% endif %}%;
    {% if pictureBorderSize is defined %}
            border:{{ pictureBorderSize }}px solid
                {% if pictureBorderColor is defined %}{{ pictureBorderColor }}{% else %}transparent{% endif %}
            ;
    {% endif %}
        {% if pictureShadowSize is defined and pictureShadowSize != 0 %}
                -webkit-box-shadow: {{ pictureShadowSize }}px {{ pictureShadowSize }}px {{ pictureShadowSize + 2 }}px 0 {% if pictureShadowColor is defined %}{{ pictureShadowColor }}{% else %}transparent{% endif %};
                -moz-box-shadow: {{ pictureShadowSize }}px {{ pictureShadowSize }}px {{ pictureShadowSize + 2 }}px 0 {% if pictureShadowColor is defined %}{{ pictureShadowColor }}{% else %}transparent{% endif %};
                box-shadow: {{ pictureShadowSize }}px {{ pictureShadowSize }}px {{ pictureShadowSize + 2 }}px 0 {% if pictureShadowColor is defined %}{{ pictureShadowColor }}{% else %}transparent{% endif %};
        {% endif %}
            float:right;
            " />

    <p style="
        {% if headerFontColor is defined %}
                color:{{ headerFontColor }};
        {% endif %}
        {% if headerFontSize is defined %}
                font-size: {{ headerFontSize }}px;
        {% endif %}
        {% if headerFontFamily is defined %}
                font-family: {{ headerFontFamily }};
        {% endif %}
        {% if headerFontStyle is defined %}
            {% if headerFontStyle == 'underline' %}
                    text-decoration: {{ headerFontStyle }};
            {% elseif headerFontStyle == 'bold' %}
                    font-weight: bold;
            {% elseif headerFontStyle == 'italic' %}
                    font-style: italic;
            {% endif %}
        {% endif %}
            margin:0;
            position: relative;
    ">
        {% if teaser is defined and teaser.title is not null %}
            {{ teaser.title }}
        {% else %}
            Заголовок
        {% endif %}
    </p>

    {% if moreType is defined and moreType != 'default' and moreType != '' %}
        {% if moreType == 'txt' %}
            <p style="
                    margin:0;
                    padding: 0;
            {% if moreTxtFontColor is defined %}
                    color:{{ moreTxtFontColor }};
            {% endif %}
            {% if moreTxtFontSize is defined %}
                    font-size: {{ moreTxtFontSize }}px;
            {% endif %}
            {% if moreTxtFont is defined %}
                    font-family: {{ moreTxtFont }};
            {% endif %}
            {% if moreTxtFontStyle is defined %}
                {% if moreTxtFontStyle == 'underline' %}
                        text-decoration: {{ moreTxtFontStyle }};
                {% elseif moreTxtFontStyle == 'bold' %}
                    font-weight: bold;
                {% else %}
                    font-style: italic;
                {% endif %}
            {% endif %}
                    position: absolute;
                    left:0;
                    bottom:0;
                    ">{% if moreTxt is defined %}{{ moreTxt }}{% else %}Читать далее{% endif %}</p>
        {% else %}
            <button style="
                position: absolute;
            left:0;
            bottom:0;
            ">Читать далее</button>
        {% endif %}
    {% elseif renderButton is defined %}
        <button style="
            position: absolute;
            left:0;
            bottom:0;
        ">Читать далее</button>
    {% endif %}

    <div style="clear:both"></div>
</div>