{% extends 'AppBundle:Admin:index.html.twig' %}

 {% block mainAdminContent %}
     <div class="page-title" xmlns="http://www.w3.org/1999/html">
         <h3>{{ "Your teaser blocks stats" | trans }}</h3>
     </div>

     <div class="row">
         <div class="col-md-12">
             <div class="grid simple">

                 <div class="grid-body no-border"> <br>
                     <div class="row chartsHere">

                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript">
        $(function () {

            {% for block in blocks %}

            var clicks = [];
            var views = [];

            {% for stat in block.stats %}
                var click = [Date.UTC({{ stat.createdAt | date('Y, m, d') }}), {{ stat.clicks }}];
                var view = [Date.UTC({{ stat.createdAt | date('Y, m, d') }}), {{ stat.views }}];

                clicks.push(click);
                views.push(view);

            {% endfor %}

            $('.chartsHere').append('<div class="renderChart-{{ loop.index }}"></div>');

            $('.chartsHere').find('.renderChart-{{ loop.index }}').highcharts({
                chart: {
                    type: 'area'
                },
                title: {
                    text: $(this).data('name')
                },
                xAxis: {
                    allowDecimals: false,
                    labels: {
                        formatter: function () {
                            var m = new Date(this.value);
                            var date = m.getUTCFullYear() +"-"+ (m.getUTCMonth()+1) +"-"+ m.getUTCDate();
                            return date;
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: 'Nuclear weapon states'
                    },
                    labels: {
                        formatter: function () {
                            return this.value / 1000 + 'k';
                        }
                    }
                },
                tooltip: {
                    pointFormat: '{series.name} produced <b>{point.y:,.0f}</b><br/>warheads in {point.x}'
                },
                plotOptions: {
                    area: {
                        pointStart: 1940,
                        marker: {
                            enabled: true,
                            symbol: 'circle',
                            radius: 3,
                            states: {
                                hover: {
                                    enabled: true
                                }
                            }
                        }
                    }
                },
                series: [{
                    name: 'Views',
                    data: views
                }, {
                    name: 'Clicks',
                    data: clicks
                }]
            });
            {% endfor %}
        });


    </script>
{% endblock %}
