<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ZSTeaser{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/app/plugins/pace/pace-theme-flash.css') }}" rel="stylesheet" type="text/css" media="screen"/>
            <link href="{{ asset('bundles/app/plugins/jquery-slider/css/jquery.sidr.light.css') }}" rel="stylesheet" type="text/css" media="screen"/>
            <link href="{{ asset('bundles/app/plugins/boostrapv3/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('bundles/app/plugins/boostrapv3/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('bundles/app/plugins/font-awesome/css/font-awesome.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('bundles/app/css/animate.min.css') }}" rel="stylesheet" type="text/css"/>

            <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('bundles/app/css/responsive.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('bundles/app/css/magic_space.css') }}" rel="stylesheet" type="text/css"/>
            <link href="{{ asset('bundles/app/css/custom-icon-set.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        {% block body %}{% endblock %}

        {% block javascripts %}

            <script type="text/javascript">
            var MyAlert = function(title, message) {
                this.elem = $("#myAlert");

                this.show = function() {
                    this.elem.find('#myModalLabel').text(title);
                    this.elem.find('.modal-body').html(message);
                    this.elem.modal('show');
                };

                this.hide = function() {
                    this.elem.find('#myModalLabel').text('');
                    this.elem.find('.modal-body').html('');
                    this.elem.modal('hide');
                };
            }
            </script>

            <script src="{{ asset('bundles/app/plugins/jquery-1.8.3.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>

            <script src="{{ asset('bundles/app/plugins/breakpoints.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/plugins/jquery-unveil/jquery.unveil.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/plugins/jquery-block-ui/jqueryblockui.js') }}" type="text/javascript"></script>

            <script src="{{ asset('bundles/app/plugins/pace/pace.min.js') }}" type="text/javascript"></script>

            <script src="{{ asset('bundles/app/plugins/jquery-slider/jquery.sidr.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/plugins/jquery-numberAnimate/jquery.animateNumbers.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>

            <script src="{{ asset('bundles/app/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/plugins/jquery-lazyload/jquery.lazyload.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/app/js/login_v2.js') }}" type='text/javascript'></script>
            <script src="{{ asset('bundles/app/js/core.js') }}" type="text/javascript"></script>
            <script type="text/javascript" src="http://www.tzrs.co/get-teasers.js"></script>
        {% endblock %}
    </body>
</html>
