{% extends 'base.html.twig' %}

{% block bodyClass %}
    frontend
{% endblock %}

{% block body %}

    <div class="container">
        <div class="compressed">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img width="119" height="22" alt="" data-src-retina="assets/img/logo_2x.png" data-src="assets/img/logo.png" src="assets/img/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="tour.html">Tour</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="portfolio.html">Portfolio</a></li>
                    <li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="fa fa-unlock"></i>&nbsp;&nbsp;{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}">
                                <i class="fa fa-lock"></i>&nbsp;&nbsp;{{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% endif %}
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>



    </div>
{% endblock %}
