{% extends 'AppBundle:Admin:index.html.twig' %}

 {% block mainAdminContent %}
     <div class="page-title" xmlns="http://www.w3.org/1999/html">
         <h3>Settings</h3>
     </div>

     <div class="row">
         <div class="col-md-12">
             <div class="grid simple">
                 {#<div class="grid-title no-border">#}
                     {#<h4>{{ "Добавить рубрику" | trans }}</h4>#}
                 {#</div>#}

                 <div class="grid-body no-border"> <br>
                     <div class="row">

                         <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 panel">
                             <form class="form-inline" action="/app_dev.php/add_rubrics" method="post" name="appbundle_rubrics">
                                 <div class="input-group">
                                     {{ form_row(form.name) }}
                                     <span class="input-group-btn">
                                         <button class="btn btn-lg btn-danger" name="appbundle_rubrics[save]" id="appbundle_rubrics_save" type="button">{{ "Save" | trans }}</button>
                                     </span>
                                 </div>
                             </form>
                         </div>
                         <div class="clear clearfix"></div>

                         <div class="alert" id="error" style="display: none">
                             <button data-dismiss="alert" class="close"></button>
                         </div>

                         <div class="clear clearfix"></div>


                         <fieldset>
                             <legend></legend>
                                 <table id="rubrics" class="table no-more-tables table-striped">
                                     <thead>
                                         <tr>
                                             <th style="width:25%">{{ "Название" | trans }}</th>
                                             <th style="width:60%">{{ "Группы" | trans }}</th>
                                             <th style="width:15%">{{ "Действия" | trans }}</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         {% for rubric in rubrics %}
                                             <tr id="{{ rubric.id }}">
                                                 <td class="v-align-middle rName">{{ rubric.name }}</td>
                                                 <td class="v-align-middle">-</td>
                                                 <td>
                                                     <div class="btn-group" role="group">
                                                         <button type="button" data-id="{{ rubric.id }}" class="btn btn-mini btn-default editRubric">
                                                             <i class="fa fa-edit"></i>
                                                         </button>
                                                         <button type="button" data-id="{{ rubric.id }}" class="btn btn-mini btn-danger deleteRubric">
                                                             <i class="fa fa-times"></i>
                                                         </button>
                                                     </div>
                                                 </td>
                                             </tr>
                                         {% endfor %}
                                     </tbody>
                                 </table>
                         </fieldset>

                     </div>
                 </div>
             </div>
         </div>
     </div>



 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var saveRubricsUrl = "{{ path('admin_add_rubrics') }}";
        var deleteRubricsUrl = "{{ path('admin_delete_rubrics') }}";

        $(document).ready(function(){
            $(document).on('click', '#appbundle_rubrics_save', function(e){
                e.preventDefault();

                var newRubric = $('#appbundle_rubrics_name').val();
                if ( newRubric ) {
                    $.post( saveRubricsUrl, {newRubricName: newRubric}, function(e){
                        if ( e.msg != 'exists' ) {
                            var clone = $('#tableRowTemplate').clone();
                            $('#rubrics tbody').append(clone.html());
                            $('#rubrics tbody').find('tr:last .rName').text(e.msg);
                            $('#rubrics tbody').find('tr:last').attr('id', e.id);
                            $('#rubrics tbody').find('tr:last .btn').each(function(){
                                $(this).attr('data-id', e.id);
                            });
                        } else {
                            $('#error').append('Рубрика с таким названием существует');
                            $('#error').slideDown().delay(5000).slideUp();
                        }
                    }, 'json' );
                }
            });

            $(document).on('click', '.deleteRubric', function(e) {
                e.preventDefault();
                var id = $(this).attr('data-id')-0;
                var name = $('#rubrics tbody').find('tr#'+id+' .rName').text();
                if ( confirm('Delete "'+name+'"? ') ) {
                    $.post( deleteRubricsUrl, {id: id}, function(e) {
                        if (e.msg == 'deleted' ) {
                            $('#rubrics tbody').find('tr#'+id+'').remove();
                        }
                    });
                }
            });

            $(document).on('click', '.editRubric', function(e){
                e.preventDefault();
                var rid = $(this).data('id');
                var rName = $('#rubrics tbody').find('tr#'+rid+' .rName').text();

                var newRubricNameTemplate = $("#newRubricNameTemplate").last().clone();

                var myModal = new MyAlert(
                        "{{ 'Enter new name for ' | trans }}\"" + rName + "\"",
                        newRubricNameTemplate.html()
                );

                myModal.show();
                $('#myAlert').on('shown.bs.modal', function () {
                    $(document).find('#newRubricName').attr('value', rName);
                    $(document).find('#newRubricName').focus().select();
                });

            });
        });

    </script>
    <script type="text/template" id="tableRowTemplate">
        <tr id="">
            <td class="v-align-middle rName"></td>
            <td class="v-align-middle"></td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" data-id="" class="btn btn-mini btn-default editRubric">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" data-id="" class="btn btn-mini btn-danger deleteRubric">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </td>
        </tr>
    </script>
    <script type="text/template" id="newRubricNameTemplate">
        <div class="input-group">
            <div>
                <input type="text" class="form-control newRubricName" value="" id="newRubricName"></div>
                <span class="input-group-btn">
                    <button type="button" id="newRubricNameBtn" class="btn btn-lg btn-danger">Save</button>
                </span>
            </div>
    </script>
    {#<script type="text/javascript" src="{{ asset('/bundles/app/js/settings/master.js') }}"></script>#}
{% endblock %}
