{% extends 'AppBundle:Admin:index.html.twig' %}

 {% block mainAdminContent %}
     <div class="page-title" xmlns="http://www.w3.org/1999/html">
         <h3>{{ "Add block" | trans }}</h3>
     </div>

     <div class="row">
         <div class="col-md-12">
             <div class="grid simple">

                 <div class="grid-body no-border"> <br>
                     <div class="row">

                         {% set urlSave = path('admin_places_save_block') %}
                         {{ form_start(form, {action: urlSave}) }}
                         <fieldset>
                             <legend>Основное</legend>


                             <div class="col-lg-12">
                                 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                     {{ form_label(form.blockName) }}
                                     {{ form_errors(form.blockName) }}
                                     {{ form_widget(form.blockName) }}
                                 </div>

                                 <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                     {{ form_label(form.rows) }}
                                     {{ form_errors(form.rows) }}
                                     <div class="slider danger">
                                         <span class="current_value label">1</span>&nbsp;&nbsp;{{ form_widget(form.rows) }}
                                     </div>
                                 </div>

                                 <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                     {{ form_label(form.cols) }}
                                     {{ form_errors(form.cols) }}
                                     <div class="slider danger">
                                         <span class="current_value label">1</span>&nbsp;&nbsp;{{ form_widget(form.cols) }}
                                     </div>
                                 </div>
                             </div>
                             <div class="clearfix"></div>
                             <div class="col-lg-12">
                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.padding) }}
                                     {{ form_errors(form.padding) }}
                                     <div class="slider danger">
                                         <span class="current_value label">1</span>&nbsp;&nbsp;{{ form_widget(form.padding) }}
                                     </div>
                                 </div>

                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.textPosition) }}
                                     {{ form_errors(form.textPosition) }}
                                     {{ form_widget(form.textPosition) }}
                                 </div>

                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.background) }}
                                     {{ form_errors(form.background) }}
                                     {{ form_widget(form.background) }}
                                 </div>
                             </div>

                         </fieldset>

                         <fieldset>
                             <legend>Картинки</legend>

                             <div class="col-lg-12">
                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.pictureSize) }}
                                     {{ form_errors(form.pictureSize) }}
                                     <div class="slider danger">
                                         <span class="current_value label">1</span>&nbsp;&nbsp;{{ form_widget(form.pictureSize) }}
                                     </div>
                                 </div>

                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.pictureAlignHor) }}
                                     {{ form_errors(form.pictureAlignHor) }}
                                     {{ form_widget(form.pictureAlignHor) }}
                                 </div>
                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.pictureAlignVer) }}
                                     {{ form_errors(form.pictureAlignVer) }}
                                     {{ form_widget(form.pictureAlignVer) }}
                                 </div>

                             </div>
                             <div class="clearfix"></div>
                             <div class="col-lg-12">
                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.pictureBorderRadius) }}
                                     {{ form_errors(form.pictureBorderRadius) }}
                                     <div class="slider danger">
                                         <span class="current_value label">1</span>&nbsp;&nbsp;{{ form_widget(form.pictureBorderRadius) }}
                                     </div>
                                 </div>

                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.pictureBorderSize) }}
                                     {{ form_errors(form.pictureBorderSize) }}
                                     <div class="slider danger">
                                         <span class="current_value label">1</span>&nbsp;&nbsp;{{ form_widget(form.pictureBorderSize) }}
                                     </div>
                                 </div>

                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.pictureBorderColor) }}
                                     {{ form_errors(form.pictureBorderColor) }}
                                     {{ form_widget(form.pictureBorderColor) }}
                                 </div>

                             </div>

                             <div class="clearfix"></div>
                             <div class="col-lg-12">
                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.pictureShadowSize) }}
                                     {{ form_errors(form.pictureShadowSize) }}
                                     <div class="slider danger">
                                         <span class="current_value label">1</span>&nbsp;&nbsp;{{ form_widget(form.pictureShadowSize) }}
                                     </div>
                                 </div>

                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.pictureShadowColor) }}
                                     {{ form_errors(form.pictureShadowColor) }}
                                     {{ form_widget(form.pictureShadowColor) }}
                                 </div>

                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     &nbsp;
                                 </div>
                             </div>
                         </fieldset>

                         <fieldset>
                             <legend>Заголовок</legend>

                             <div class="col-lg-12">
                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.headerFontFamily) }}
                                     {{ form_errors(form.headerFontFamily) }}
                                     {{ form_widget(form.headerFontFamily) }}
                                 </div>

                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.headerFontSize) }}
                                     {{ form_errors(form.headerFontSize) }}
                                     <div class="slider danger">
                                         <span class="current_value label">1</span>&nbsp;&nbsp;{{ form_widget(form.headerFontSize) }}
                                     </div>
                                 </div>
                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.headerFontColor) }}
                                     {{ form_errors(form.headerFontColor) }}
                                     {{ form_widget(form.headerFontColor) }}
                                 </div>

                             </div>
                             <div class="clearfix"></div>
                             <div class="col-lg-12">
                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.headerAlignHor) }}
                                     {{ form_errors(form.headerAlignHor) }}
                                     {{ form_widget(form.headerAlignHor) }}
                                 </div>

                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.headerAlignVer) }}
                                     {{ form_errors(form.headerAlignVer) }}
                                     {{ form_widget(form.headerAlignVer) }}
                                 </div>

                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.headerFontStyle) }}
                                     {{ form_errors(form.headerFontStyle) }}
                                     {{ form_widget(form.headerFontStyle) }}
                                 </div>

                             </div>

                             <div class="clearfix"></div>
                             <div class="col-lg-12">
                                 <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                                     {{ form_label(form.headerFontHoverColor) }}
                                     {{ form_errors(form.headerFontHoverColor) }}
                                     {{ form_widget(form.headerFontHoverColor) }}
                                 </div>

                                 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                     {{ form_label(form.headerFontHoverStyle) }}
                                     {{ form_errors(form.headerFontHoverStyle) }}
                                     {{ form_widget(form.headerFontHoverStyle) }}
                                 </div>
                             </div>


                         </fieldset>

                         <fieldset>
                             <legend>Читать далее</legend>

                             <div class="col-lg-12">
                                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                     {{ form_label(form.moreActive) }}
                                     <div class="clear clearfix"></div>
                                     {{ form_errors(form.moreActive) }}
                                     <div class="slide-primary">
                                         {{ form_widget(form.moreActive) }}
                                     </div>
                                 </div>
                             </div>
                             <div class="clearfix"></div>

                             <div class="moreBlock" style="display: none;">

                                 <div class="col-lg-12">

                                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         {{ form_label(form.moreType) }}
                                         {{ form_errors(form.moreType) }}
                                         {{ form_widget(form.moreType) }}
                                     </div>
                                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         {{ form_label(form.moreTxt) }}
                                         {{ form_errors(form.moreTxt) }}
                                         {{ form_widget(form.moreTxt) }}
                                     </div>

                                 </div>
                                 <div class="clearfix"></div>
                                 <div class="col-lg-12">
                                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         {{ form_label(form.moreImage) }}
                                         {{ form_errors(form.moreImage) }}
                                         {{ form_widget(form.moreImage) }}
                                     </div>

                                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         {{ form_label(form.morePosition) }}
                                         {{ form_errors(form.morePosition) }}
                                         {{ form_widget(form.morePosition) }}
                                     </div>

                                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         {{ form_label(form.moreBtnAlignHor) }}
                                         {{ form_errors(form.moreBtnAlignHor) }}
                                         {{ form_widget(form.moreBtnAlignHor) }}
                                     </div>

                                 </div>

                                 <div class="clearfix"></div>
                                 <div class="col-lg-12">
                                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         {{ form_label(form.moreBtnAlignVer) }}
                                         {{ form_errors(form.moreBtnAlignVer) }}
                                         {{ form_widget(form.moreBtnAlignVer) }}
                                     </div>

                                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         {{ form_label(form.moreTxtFont) }}
                                         {{ form_errors(form.moreTxtFont) }}
                                         {{ form_widget(form.moreTxtFont) }}
                                     </div>
                                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         {{ form_label(form.moreTxtFontSize) }}
                                         {{ form_errors(form.moreTxtFontSize) }}
                                         <div class="slider danger">
                                             <span class="current_value label">1</span>&nbsp;&nbsp;{{ form_widget(form.moreTxtFontSize) }}
                                         </div>
                                     </div>

                                 </div>
                                 <div class="clearfix"></div>
                                 <div class="col-lg-12">

                                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         {{ form_label(form.moreTxtFontColor) }}
                                         {{ form_errors(form.moreTxtFontColor) }}
                                         {{ form_widget(form.moreTxtFontColor) }}
                                     </div>
                                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         {{ form_label(form.moreTxtFontStyle) }}
                                         {{ form_errors(form.moreTxtFontStyle) }}
                                         {{ form_widget(form.moreTxtFontStyle) }}
                                     </div>
                                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         {{ form_label(form.moreTxtFontHoverColor) }}
                                         {{ form_errors(form.moreTxtFontHoverColor) }}
                                         {{ form_widget(form.moreTxtFontHoverColor) }}
                                     </div>

                                 </div>
                                 <div class="clearfix"></div>
                                 <div class="col-lg-12">

                                     <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                         {{ form_label(form.moreTxtFontHoverStyle) }}
                                         {{ form_errors(form.moreTxtFontHoverStyle) }}
                                         {{ form_widget(form.moreTxtFontHoverStyle) }}
                                     </div>

                                 </div>
                                 <div class="clearfix"></div>
                             </div>
                             {{ form_widget(form) }}

                         </fieldset>
                         {{ form_end(form) }}
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('/bundles/app/plugins/ios-switch/ios7-switch.css') }}" rel="stylesheet" type="text/css" media="screen" charset="utf-8">
    <link href="{{ asset('/bundles/app/plugins/boostrap-slider/css/slider.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/bundles/app/plugins/ios-switch/ios7-switch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/app/plugins/boostrap-slider/js/bootstrap-slider.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/bundles/app/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){

            $('.slider_input').slider().on('slide', function(ev) {
                val = ev.value;
                $(this).parent().parent().find('.current_value').text(val);
                $(this).attr('value', val);
            });
            $('.slider_input').each(function(){
                var val = $(this).data('slider-value');
                $(this).parent().parent().find('.current_value').text(val);
                $(this).attr('value', val);
            });

            var Switch = require('ios7-switch')
                    , checkbox = document.querySelector('.ios')
                    , mySwitch = new Switch(checkbox);
            mySwitch.el.addEventListener('click', function(e){
                e.preventDefault();
                mySwitch.toggle();

                var val = $('div.ios-switch').hasClass('on') ? '1' : '0';
                $('.ios').attr('value');

                if ( val == '1' ) {
                    $('label[for="appbundle_blocksettings_moreActive"]').attr('class', 'text-success').text('Активна');
                    $('#appbundle_blocksettings_moreActive').val(1);
                    $('.moreBlock').slideDown();
                } else {
                    $('label[for="appbundle_blocksettings_moreActive"]').attr('class', 'text-error').text('Неактивна');
                    $('#appbundle_blocksettings_moreActive').val(0);
                    $('.moreBlock').slideUp();
                }
            }, true);

            $('.colorPicker').each(function(){
                $(this).before('<input type="color" value="#57a7ef" id="'+$(this).attr('id')+'" name="'+$(this).attr('name')+'">');
                $(this).remove();
            });
            $('input[type="color"]').on('change', function(){
                $(this).attr('value', $(this).val() );
            });

            $('.ifText, .ifBtn').each(function(){
                $(this).parent().hide();
            });
            $('#appbundle_blocksettings_moreType').on('change', function(){
                if ( $(this).val() == 'btn' ) {
                    $('.ifBtn').parent().show();
                    $('.ifText').parent().hide();
                } else {
                    $('.ifBtn').parent().hide();
                    $('.ifText').parent().show();
                }
            });

        });
    </script>
{% endblock %}
