{% extends 'AppBundle:Admin:index.html.twig' %}

 {% block mainAdminContent %}

    {% if blocks | length < 1 %}
        <div class="page-title" xmlns="http://www.w3.org/1999/html">
            <h3>
                {{ "You have no blocks yet!" | trans }}
            </h3>
        </div>
    {% else %}

    {% endif %}

     <div class="row">

         <table class="table table-striped">

             <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
             </thead>

         {% for block in blocks %}
             <tr>
                {% set settings = block %}

                 <td>{{ settings.blockName }}</td>
                 <td style="text-align: left;">
                 {{ include('AppBundle:Default/html:teaser_' ~ settings.blockId ~ '.html.twig', {
                     padding : settings.padding,
                     background : settings.background,
                     pictureSize : settings.pictureSize,
                     pictureBorderRadius : settings.pictureBorderRadius,
                     pictureBorderSize : settings.pictureBorderSize,
                     pictureBorderColor : settings.pictureBorderColor,
                     pictureShadowSize : settings.pictureShadowSize,
                     pictureShadowColor : settings.pictureShadowColor,
                     moreType : settings.moreType,
                     moreTxtFontColor : settings.moreTxtFontColor,
                     moreTxtFontSize : settings.moreTxtFontSize,
                     moreTxtFont : settings.moreTxtFont,
                     moreTxtFontStyle : settings.moreTxtFontStyle,
                     moreTxt : settings.moreTxt,
                     headerFontColor : settings.headerFontColor,
                     headerFontSize : settings.headerFontSize,
                     headerFontFamily : settings.headerFontFamily,
                     headerFontStyle : settings.headerFontStyle,
                     headerFontFamily : settings.headerFontFamily
                 }) }}
                 </td>
                 <td>
                     <a class="btn btn-warning" href="{{ path('admin_places_edit_block', {id: block.id}) }}">Edit</a>
                 </td>
             </tr>
         {% endfor %}
         </table>
     </div>

 {% endblock %}

{#{% block stylesheets %}#}
    {#{{ parent() }}#}

    {#<link href="{{ asset('/bundles/app/plugins/ios-switch/ios7-switch.css') }}" rel="stylesheet" type="text/css" media="screen" charset="utf-8">#}
    {#<link href="{{ asset('/bundles/app/plugins/boostrap-slider/css/slider.css') }}" rel="stylesheet" type="text/css"/>#}
{#{% endblock %}#}

{#{% block javascripts %}#}
    {#{{ parent() }}#}

    {#<script src="{{ asset('/bundles/app/js/fileupload/jquery.ui.widget.js') }}"></script>#}
    {#<script src="{{ asset('/bundles/app/js/fileupload/jquery.iframe-transport.js') }}"></script>#}
    {#<script src="{{ asset('/bundles/app/js/fileupload/jquery.fileupload.js') }}"></script>#}

    {#<script src="{{ asset('/bundles/app/plugins/ios-switch/ios7-switch.js') }}" type="text/javascript"></script>#}
    {#<script src="{{ asset('/bundles/app/plugins/boostrap-slider/js/bootstrap-slider.js') }}" type="text/javascript"></script>#}
    {#<script src="{{ asset('/bundles/app/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}" type="text/javascript"></script>#}

    {#<script type="text/javascript">#}
{#//        $(document).ready(function(){#}
{#//#}
{#//        });#}
    {#</script>#}
{#{% endblock %}#}
