{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row login-container animated fadeInUp">
            <div class="col-md-8 col-md-offset-2 tiles white no-padding">
                <div class="p-t-30 p-l-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-b-10">
                    <h2 class="normal">ZSTeaser</h2>

                    <button type="button" class="btn btn-primary btn-cons" id="login_toggle">Login</button> or&nbsp;&nbsp;
                    <button type="button" class="btn btn-info btn-cons" id="register_toggle"> Create an account</button>

                </div>
                <div class="tiles grey p-t-20 p-b-20 text-black">

                    {% for type, messages in app.session.flashBag.all %}
                        {% for message in messages %}
                            <div class="{{ type }}">
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% if error is defined %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form class="animated fadeIn" id="frm_login" action="{{ path("fos_user_security_check") }}" method="post">
                        {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}

                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <h4>Login</h4>
                        </div>

                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="col-md-6 col-sm-6 ">
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                            </div>
                        </div>

                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="col-md-6 col-sm-6 ">
                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input class="form-control" type="password" id="password" name="_password" required="required" />
                            </div>
                        </div>

                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="col-md-6 col-sm-6 ">
                                <input class="form-control" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            </div>
                        </div>
                    </form>

                    <form id="frm_register" class="animated fadeIn" action="{{ path('fos_user_registration_register') }}" style="display:none">

                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <h4>Create account</h4>
                        </div>

                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">

                            <div class="col-md-6 col-sm-6">
                                <input name="reg_username" id="reg_username" type="text"  class="form-control" placeholder="Username">
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input name="reg_pass" id="reg_pass" type="password"  class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="col-md-12 ">
                                <input name="reg_email" id="reg_email" type="email"  class="form-control" placeholder="Email">
                            </div>
                        </div>

                        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
                            <div class="col-md-6 col-sm-6 ">
                                <input class="form-control" type="submit" id="reg_submit" name="reg_submit" value="{{ 'security.login.submit'|trans }}" />
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
