{% if settings.moreType == 'txt' %}
    html += "<span style='" +
            "font: {{ settings.moreTxtFontSize }}px {{ settings.moreTxtFont }}, sans-serif;" +
            "color: {{ settings.moreTxtFontColor }};" +
            "text-decoration: {{ settings.moreTxtFontStyle }};" +
            "onmouseover='this.style.color=\"{{ settings.moreTxtFontHoverColor }}\";this.style.textDecoration=\"{{ settings.moreTxtFontHoverStyle }}\"'" +
            "onmouseout='this.style.color=\"{{ settings.moreTxtFontColor }}\";this.style.textDecoration=\"{{ settings.moreTxtFontStyle }}\"'" +
            "'>{{ settings.moreTxt }}</span>";
{% else %}
    html += "<img onclick='window.location.href=\"{{ teaser.link }}\"' src='{{ settings.moreImage }}' />";
{% endif %}