<script type="text/javascript">
    var html = "<div style='background-color: {{ settings.background }};'>";

    {% for teaser in teasers %}
        html += "<div onclick='window.open(\"{{ teaser.link }}\", \"_blank\")' style='cursor:pointer;float:left;padding:{{ settings.padding }};'>";

        {% for key, order in orderArray %}
        {% set pos = loop.index %}
            {% if order == 1 %}
                {{ include("AppBundle:Default:_title_template.js.twig", {pos: pos}) }}
            {% elseif order == 2 %}
                {{ include("AppBundle:Default:_image_template.js.twig", {pos: pos}) }}
            {% else %}
                {% if settings.moreActive %}
                    {{ include("AppBundle:Default:_more_template.js.twig", {pos: pos}) }}
                {% endif %}
            {% endif %}
        {% endfor %}

        html += "<div style='clear:both;'></div>";
        html += "</div>";
        {% if loop.index is divisible by(settings.cols) %}
            html += "<div style='clear:both;'></div>";
        {% endif %}
    {% endfor %}

    html += "<div style='clear:both;'></div>";
    html += "</div>";

    document.write(html);
</script>