{#var html = "<div style='background-color: {{ settings.background }};'>";#}

{#{% for teaser in teasers %}#}
{#html += "<div onclick='window.open(\"{{ url('redirect_to_url', {place_id: pid, rubric_id: rid, block_settings_id: bid}) }}?url={{ teaser.link }}\", \"_blank\")' style='cursor:pointer;float:left;padding:{{ settings.padding }};'>";#}

{#{% for key, order in orderArray %}#}
{#{% set pos = loop.index %}#}
{#{% if order == 1 %}#}
    {#{{ include("AppBundle:Default:_title_template.js.twig", {position: pos}) }}#}
{#{% elseif order == 2 %}#}
    {#{{ include("AppBundle:Default:_image_template.js.twig", {position: pos}) }}#}
{#{% else %}#}
{#{% if settings.moreActive %}#}
    {#{{ include("AppBundle:Default:_more_template.js.twig", {position: pos}) }}#}
{#{% endif %}#}
{#{% endif %}#}
{#{% endfor %}#}

{#html += "<div style='clear:both;'></div>";#}
{#html += "</div>";#}
{#{% if loop.index is divisible by(settings.cols) %}#}
{#html += "<div style='clear:both;'></div>";#}
{#{% endif %}#}
{#{% endfor %}#}

{#html += "<div style='clear:both;'></div>";#}
{#html += "</div>";#}

{#document.write(html);#}

{#var matches = match(/<div id="[^tzrs_*]"><\/div>/);#}
function findElementWithIdLike(prefix) {
    return findChildWithIdLike(document.body, prefix);
};

function findChildWithIdLike(node, prefix) {
    if (node && node.id && node.id.indexOf(prefix) == 0) {
        //match found
        return node;
    }

    //no match, check child nodes
    for (var index = 0; index < node.childNodes.length; index++) {
        var child = node.childNodes[index];
        var childResult = findChildWithIdLike(child, prefix);
        if (childResult) {
            return childResult;
        }
    }
};

alert(findElementWithIdLike("tzrs_").id);