{% extends 'AppBundle:Admin:index.html.twig' %}

 {% block mainAdminContent %}
     <div class="page-title" xmlns="http://www.w3.org/1999/html">
         <h3>{{ "Список площадок" | trans }}</h3>
     </div>

     <div class="row">
         <div class="col-md-12">
             <div class="grid simple">

                 <div class="grid-body no-border"> <br>
                     <div class="row">

                         <table class="table table-bordered places">
                             <thead>
                             <tr>
                                 <th>Группы</th>
                                 <th>Рубрики</th>
                                 <th>Блоки / Действия / CTR</th>
                                 {#<th>Действия</th>#}
                                 {#<th>CTR</th>#}
                             </tr>
                             </thead>
                             <tbody>
                             {% for placeId, place in places %}
                                 <tr class="" style="color:#fff;border-top:2px solid #cc0000">
                                     <td colspan="5" data-id="{{ placeId }}" id="{{ placeId }}" class="placeId">
                                         <h3>
                                             <div class="btn-group btn-group-sm">
                                                 <a title="Редактировать" class="btn editPlaceName" data-id="{{ placeId }}"><i class="fa fa-pencil"></i></a>
                                                 {#<a title="Клонировать" class="btn btn-primary"><i class="fa fa-files-o"></i></button>#}
                                                 <a onclick="window.open('http://{{ place.name }}', '_blank')" title="Посмотреть сайт в новом окне" class="btn btn-success"><i class="fa fa-external-link"></i></a>
                                             </div>
                                             <span class="placeName">{{ place.name }}</span>
                                         </h3>
                                     </td>
                                 </tr>
                                 {% for r in place.row %}
                                     <tr id="tr-{{ placeId }}-{{ r.g_id }}-{{ r.r_id }}">
                                         <td data-id="{{ r.g_id }}">{{ r.g_name }}</td>
                                         <td data-id="{{ r.r_id }}">
                                             <a href="" data-pid="{{ placeId }}" data-rid="{{ r.r_id }}" data-gid="{{ r.g_id }}" title="Добавить блок" class="btn btn-warning btn-mini addBlockToPlace" data-for="{{ r.g_name ~ '/' ~ r.r_name }}"><i class="fa fa-plus"></i></a>
                                             {{ r.r_name }}
                                         </td>
                                         <td style="padding:0 !important">

                                             <table class="table blocks" style="width:100%;margin:0">

                                                 {#{{ dump(places[placeId].blocks) }}#}

                                                 {% if places[placeId].blocks[r.g_id][r.r_id] is defined %}
                                                     {% for block in places[placeId].blocks[r.g_id][r.r_id] %}

                                                         <tr data-block-id="">
                                                             <td>
                                                                 <span class="btn btn-mini disabled" style="margin-right:1em">{{ block.name }}</span>
                                                                 <span class="pull-right" style="margin-left:1em">
                                                                     <span class="btn btn-mini btn-success disabled">{{ block.ctr }}%</span>
                                                                 </span>
                                                                 <div class="btn-group btn-group-mini pull-right">
                                                                     <a href="" data-pid="{{ placeId }}" data-rid="{{ r.r_id }}" data-gid="{{ r.g_id }}" data-bid="{{ block.id }}" title="Получить код для вставки" class="btn btn-mini btn-success getEmbedCodeBtn"><i class="fa fa-code"></i></a>
                                                                     <a href="" title="Статистика" class="btn btn-mini btn-default disabled"><i class="fa fa-bar-chart-o"></i></a>
                                                                     {#<a href="" target="_blank" title="Открыть в новой вкладке" class="btn btn-mini btn-default"><i class="fa fa-folder-o"></i></a>#}
                                                                     <a href="" title="Удалить" data-bid="{{ block.id }}" class="btn btn-mini btn-danger disabled"><i class="fa fa-times"></i></a>
                                                                 </div>
                                                             </td>
                                                         </tr>

                                                     {% endfor %}
                                                 {% endif %}
                                             </table>
                                         </td>
                                     </tr>
                                 {% endfor %}
                             {% endfor %}
                             </tbody>
                         </table>
                         <div class="clear clearfix"></div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

 {% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/template" id="blockTrTemplate">
        <tr data-block-id="{bId}">
            <td>
                <span class="btn btn-mini disabled" style="margin-right:1em">{bName}</span>
                                                             <span class="pull-right" style="margin-left:1em">
                                                                 <span class="btn btn-mini btn-success disabled">{{ "-" }}%</span>
                                                             </span>
                <div class="btn-group btn-group-mini pull-right">
                    <a href="" data-pid="{pId}" data-rid="{rId}" data-gid="{gId}" title="Получить код для вставки" class="btn btn-mini btn-success getEmbedCodeBtn"><i class="fa fa-code"></i></a>
                    <a href="" title="Статистика" class="btn btn-mini btn-default"><i class="fa fa-bar-chart-o"></i></a>
                    <a href="" target="_blank" title="Открыть в новой вкладке" class="btn btn-mini btn-default"><i class="fa fa-folder-o"></i></a>
                    <a href="" title="Удалить" class="btn btn-mini btn-danger"><i class="fa fa-times"></i></a>
                </div>
                {#<div class="clear clearfix"></div>#}
            </td>
        </tr>
    </script>

    <script type="text/template" id="addBlockToPlaceTemplate">
        <div id="addBlockToPlaceDiv">

            <div class="panel-danger error" style="display: none">
                Нужно что-то выбрать!
            </div>

            <input type="hidden" class="placeid" value="{0}" />
            <input type="hidden" class="rid" value="{1}" />
            <input type="hidden" class="gid" value="{2}" />
            {% if blocks %}
            {% for block in blocks if blocks %}
                <div class="radio radio-primary radio-circle">
                    <input name="block" type="radio" value="{{ block.id }}" id="{{ block.id }}">
                    <label for="{{ block.id }}">{{ block.blockName }}</label>
                </div>
            {% endfor %}
            <div class="clearfix clear"></div>
            <button class="btn btn-primary col-lg-12" id="addBlockButton">{{ "Save" | trans }}</button>
            {% else %}
                <span class="panel panel-warning">No blocks here. <a class="btn btn-primary btn-mini" href="{{ path('admin_places_add_block') }}">Create one now</a></span>
            {% endif %}
        </div>
    </script>

    <script type="text/javascript">
        var saveRubricsUrl = "{{ path('admin_add_rubrics') }}";
        var addBlockToPlaceUrl = "{{ path('admin_add_block_to_place') }}";
        var deleteRubricsUrl = "{{ path('admin_delete_rubrics') }}";
        var getEmbedCodeUrl = "{{ path('admin_places_get_embed_code') }}";

        $(document).ready(function(){
            $('a.getEmbedCodeBtn').on('click', function(e){
                e.preventDefault();

                var gid = $(this).data('gid')-0;
                var rid = $(this).data('rid')-0;
                var pid = $(this).data('pid')-0;
                var bid = $(this).data('bid')-0;

                $.post(getEmbedCodeUrl, {
                    gid: gid,
                    rid: rid,
                    pid: pid,
                    bid: bid
                }, function(r){
                    if ( r.msg == 'success' ){
                        var modal = new MyAlert( "{{ 'Embed code' | trans }}", r.content );
                        modal.show();
                    }
                }, 'json');
                return false;
            });

            $('.addBlockToPlace').on('click', function(e){
                e.preventDefault();

                var placeName = $(this).data('for');
                var placeId = $(this).data('pid');
                var rId = $(this).data('rid');
                var gId = $(this).data('gid');

//                $('#addBlockToPlaceTemplate').find('.placeId').attr('value',placeId);

                var addBlockToPlaceTemplate = $('#addBlockToPlaceTemplate').html();
                addBlockToPlaceTemplate = addBlockToPlaceTemplate.replace('{0}', placeId);
                addBlockToPlaceTemplate = addBlockToPlaceTemplate.replace('{1}', rId);
                addBlockToPlaceTemplate = addBlockToPlaceTemplate.replace('{2}', gId);

                var myModal = new MyAlert(
                        "{{ 'Add block for ' | trans }}\"" + placeName + "\"",
                        addBlockToPlaceTemplate
                );
                myModal.show();

            });
            $(document).on('click', '.modal-body #addBlockButton', function() {

                var blockId = $(this).parent().find('input[name="block"]:checked').val();
                var placeId = $(this).parent().find('.placeid').val();
                var rId = $(this).parent().find('.rid').val();
                var gId = $(this).parent().find('.gid').val();

                if ( typeof blockId == 'undefined' || typeof placeId == 'undefined' ) {
                    $(this).parent().find('.error').slideDown().delay(2000).slideUp();
                    return false;
                }

                $.post(addBlockToPlaceUrl, {
                    blockId: blockId,
                    placeId: placeId,
                    rId: rId,
                    gId: gId
                }, function(r){
                    if(r.msg == 'success') {
                        window.location.assign(r.redirectTo);
                    }
                }, 'json');
            });

            var renamePlacePath = "{{ path('admin_places_rename') }}";
            $(document).on('click', '.editPlaceName', function(){
                var that = $(this);
                var id = $(this).data('id');
                var currentName = $(this).parent().parent().find('.placeName').text();

                $('#myModalLabel').html(currentName);
                $('.myModalBody').html('<div class="input-group">'+
                        '<div><input type="text" value="'+currentName+'" class="form-control" id="placeNewName"></div>'+
                        '<span class="input-group-btn">'+
                        '<button type="button" id="placeNewNameSave" name="placeNewNameSave" class="btn btn-lg btn-danger">Rename</button>'+
                        '</span>'+
                        '</div>');

                $('#myAlert').modal('show');

                $(document).on('click', '#placeNewNameSave', function(){
                    var newName = $(this).parent().parent().find('#placeNewName').val();

                    $.post(renamePlacePath, {id:id, name:newName}, function(r){
                        if (r.success ){
                            that.parent().parent().find('.placeName').text(newName);

                            $('#myAlert').modal('hide');
                        }
                    }, 'json');
                });
            });

        });
    </script>

    <script type="text/javascript" src="{{ asset('/bundles/app/js/settings/master.js') }}"></script>
{% endblock %}
