{% extends 'AppBundle:Admin:index.html.twig' %}

 {% block mainAdminContent %}
     <div class="page-title" xmlns="http://www.w3.org/1999/html">
         <h3>{{ "Places" | trans }}</h3>
     </div>

     <div class="row">
         <div class="col-md-12">
             <div class="grid simple">

                 <div class="grid-body no-border"> <br>
                     <div class="row">

                         <table class="table">
                             <thead>
                                 <tr>
                                    <th>Группы</th>
                                    <th>Рубрики</th>
                                    <th>Блоки</th>
                                    <th>Действия</th>
                                    <th>CTR</th>
                                 </tr>
                             </thead>
                             <tbody>
                                {% for placeId, place in places %}
                                    <tr class="bg-purple" style="color:#fff;">
                                        <td colspan="5" data-id="{{ placeId }}"><h3>{{ place.name }}</h3></td>
                                    </tr>
                                    {% for r in place.row %}
                                        <tr>
                                            <td data-id="{{ r.g_id }}">{{ r.g_name }}</td>
                                            <td data-id="{{ r.r_id }}">{{ r.r_name }}</td>
                                            <td>-</td>
                                            <td>
                                                <div class="btn-group btn-group-sm">
                                                    <button class="btn"><i class="fa fa-pencil"></i></button>
                                                    <button class="btn btn-warning"><i class="fa fa-cogs"></i></button>
                                                    <button class="btn btn-primary"><i class="fa fa-files-o"></i></button>
                                                    <button class="btn btn-default"><i class="fa fa-signal"></i></button>
                                                </div>
                                            </td>
                                            <td>-</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                             </tbody>
                         </table>

                         <div class="clear clearfix"></div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script type="text/javascript">#}
        {#var saveRubricsUrl = "{{ path('admin_add_rubrics') }}";#}
        {#var deleteRubricsUrl = "{{ path('admin_delete_rubrics') }}";#}
    {#</script>#}
    {#<script type="text/template" id="tableRowTemplate">#}
        {#<tr id="">#}
            {#<td class="v-align-middle rName"></td>#}
            {#<td class="v-align-middle"></td>#}
            {#<td>#}
                {#<div class="btn-group" role="group">#}
                    {#<button type="button" data-id="" class="btn btn-mini btn-default editRubric">#}
                        {#<i class="fa fa-edit"></i>#}
                    {#</button>#}
                    {#<button type="button" data-id="" class="btn btn-mini btn-danger deleteRubric">#}
                        {#<i class="fa fa-times"></i>#}
                    {#</button>#}
                {#</div>#}
            {#</td>#}
        {#</tr>#}
    {#</script>#}
    {#<script type="text/javascript" src="{{ asset('/bundles/app/js/settings/master.js') }}"></script>#}
{% endblock %}
