{% extends 'AppBundle:Admin:index.html.twig' %}

 {% block mainAdminContent %}
    {{ test }}
 {% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script type="text/javascript">#}
        {#var saveRubricsUrl = "{{ path('admin_add_rubrics') }}";#}
        {#var deleteRubricsUrl = "{{ path('admin_delete_rubrics') }}";#}
    {#</script>#}
    {#<script type="text/template" id="tableRowTemplate">#}
        {#<tr id="">#}
            {#<td class="v-align-middle rName"></td>#}
            {#<td class="v-align-middle"></td>#}
            {#<td>#}
                {#<div class="btn-group" role="group">#}
                    {#<button type="button" data-id="" class="btn btn-mini btn-default editRubric">#}
                        {#<i class="fa fa-edit"></i>#}
                    {#</button>#}
                    {#<button type="button" data-id="" class="btn btn-mini btn-danger deleteRubric">#}
                        {#<i class="fa fa-times"></i>#}
                    {#</button>#}
                {#</div>#}
            {#</td>#}
        {#</tr>#}
    {#</script>#}
    {#<script type="text/javascript" src="{{ asset('/bundles/app/js/settings/master.js') }}"></script>#}
{% endblock %}
